@model TMR.Models.PostDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>

    <div class="post">
        <div class="snapshot">
            @Html.Partial("../Profile/_GetProfileSnapshot", (TMR.Models.ProfileDetail)Model.Profile, new ViewDataDictionary { { "user", Model.UserID } })
        </div>
        <div class="post-content">
            <h4 class="post-title">
                @Html.DisplayFor(model => model.Title)
            </h4>
            <hr />
            <p class="post-body">
                @Html.DisplayFor(model => model.Body)
            </p>
            <hr />
            <div class="post-footer">
                <p>
                    Posted:
                    @Html.DisplayFor(model => model.TimePosted)
                </p>
                <div id="vote-sctn">
                    <p>
                        Votes:
                        @Html.DisplayFor(model => model.Votes)
                </div>
                </p>
            </div>
        </div>
    </div>

</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions" style="margin-top:20px;margin-left:7%;">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Cancel", "Details", new { id = Model.ID }, new { @class = "btn btn-default" })
    </div>
}
    </div>
