@model IEnumerable<TMR.Models.PostListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Mod Requests</h2>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

<p class="btn-block">
    @Html.ActionLink("Post Request", "Create")
</p>


@foreach (var item in Model)
{
    <div class="post-list">
        <div class="snapshot">
            @Html.Partial("../Profile/_GetProfileSnapshot", (TMR.Models.ProfileDetail)item.Profile, new ViewDataDictionary { { "user", item.UserID } })
        </div>
        <div class="post-content">
            <h3 class="post-title">
                @Html.DisplayFor(modelItem => item.Title)
            </h3>
            <div class="post-footer">
                <p>
                    Posted:
                    @Html.DisplayFor(modelItem => item.TimePosted, "{0:dd/MM/yyyy}")
                </p>
                <p>
                    Votes:
                    @Html.DisplayFor(modelItem => item.Votes)
                </p>
                <p>
                    @Html.ActionLink("View Thread", "Details", new { id = item.PostID })
                </p>
                @if (ViewBag.Viewer == item.UserID)
                {
                    <p>
                        @Html.ActionLink("Delete", "Delete", new { id = item.PostID })
                    </p>
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = item.PostID })
                    </p>
                }
            </div>
        </div>




    </div>














    <tr>
        <td>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Votes)
        </td>
        <td>
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.PostID }) |
        </td>
    </tr>
}

