@model TMR.Models.ProfileDetail

@{
    ViewBag.Title = "MyProfile";
}

    <h2>@Html.DisplayFor(model => model.UserName)</h2>

<div>
    <img src=@($"/Assets/{Model.Picture}.png") alt="Photo Not Found" />
    <h4>@Html.DisplayNameFor(model=>model.BIO)</h4>
    <h6>@Html.DisplayFor(model=>model.BIO)</h6>
</div>
<p>
    @Html.ActionLink("Edit", "SetProfile" ) |
    @Html.ActionLink("Back to List", "Index")
</p>
